# Set:

In [4]:
g={'a',45,120,155,"ramu",45,450}
print(g)

{450, 120, 'ramu', 155, 45, 'a'}

In [5]:
g

{120, 155, 45, 450, 'a', 'ramu'}

In [6]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [7]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [8]:
s1={36,67,"ramu",0,"lalitha"}
s1.add("prasanna")
print(s1)

{0, 67, 36, 'prasanna', 'ramu', 'lalitha'}

In [9]:
s1

{0, 36, 67, 'lalitha', 'prasanna', 'ramu'}

In [11]:
print(s1)
s1.pop()
print(s1)

{67, 36, 'prasanna', 'ramu', 'lalitha'}
{36, 'prasanna', 'ramu', 'lalitha'}

In [13]:
s1.pop(ramu)
print(s1)

NameError: name 'ramu' is not defined

In [14]:
print(s1)
s1.remove("ramu")
print(s1)

{36, 'prasanna', 'ramu', 'lalitha'}
{36, 'prasanna', 'lalitha'}

In [18]:
s2={45,8,32,5,6}
s3={45,8,9,70,6}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{70, 6, 8, 9, 45}
{32, 5, 6, 70, 8, 9, 45}
{32, 5, 6, 8, 45}
{70, 6, 8, 9, 45}

In [19]:
s2={45,8,32,5,6}
s3={45,8,9,70,6}
print(s2)
print(s3)
print(s2.intersection(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{70, 6, 8, 9, 45}
{8, 45, 6}
{32, 5, 6, 8, 45}
{70, 6, 8, 9, 45}

# Dictionary:

In [23]:
t={"name":("ramu","suresh","tejaswini"),"age":20,"sal":(67.80,90.00,90.00)}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0)} <class 'dict'>

In [24]:
print(t["sal"][0])

67.8

In [25]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [26]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [27]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, (67.8, 90.0, 90.0)])

In [28]:
y={"name":"tilak","age":[24,78],"sal":90000}
print(y)

{'name': 'tilak', 'age': [24, 78], 'sal': 90000}

In [30]:
print(y.items())

dict_items([('name', 'tilak'), ('age', [24, 78]), ('sal', 90000)])

In [33]:
print(t.get("name"))
print(t.get('age'))
print(t.get("no"))

('ramu', 'suresh', 'tejaswini')
20
None

In [35]:
print(t)
t["no"]=[12,8,9,8]
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 12}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': [12, 8, 9, 8]}

In [36]:
print(t)
t["no"]="yamini"
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': [12, 8, 9, 8]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini'}

In [41]:
print(t)
t.setdefault("tr")
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}

In [38]:
print(t)
t.update({"tr":45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}

In [42]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}

In [44]:
print(t)
print(t.pop("age"))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}

In [45]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': (67.8, 90.0, 90.0), 'no': 'yamini', 'tr': 45}
('tr', 45)
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': (67.8, 90.0, 90.0), 'no': 'yamini'}

In [46]:
q=["name","age","sal"]
w=[12,45,78,98,45]
print(q)
print(w)
f={"name":34,"donar":45}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 45, 78, 98, 45]
{'name': 34, 'donar': 45}
['name', 'age', 'sal']
[12, 45, 78, 98, 45]

In [48]:
t={"name":"ramu","sno":1}
t1={}
t1=t.fromkeys(q,45)
print(t1)

{'name': 45, 'age': 45, 'sal': 45}

In [ ]:
q=["name","age",""]

In [50]:
marks={}.fromkeys(["maths","python","c++"],[0,45])
print(marks)

{'maths': [0, 45], 'python': [0, 45], 'c++': [0, 45]}

In [ ]:
contact application:
    1.enter new record
    2.display all records
    3.update record
    4.delete record
1. ramu->not exists
    mobile number->xxxxxxxxx
2. name      mobile number
   ramu      xxxxxxxxxxxx
   rajesh    xxxxxxxxxxx
3.ramu->exist
mobile  number->xxxxxxxxx
user doesnot exist
4. ramu->exit
   user deleted successfully
    user doesnot exist