### Hi WelcomeðŸ‘ðŸ˜Š

## Output:
    - %
    - , +
    - .format

In [2]:
n= int(input("Enter a value: "))
m = input("Enter a name: ")
print("Entered number is: %d"%n)
print("Entered Name is: %s"%m)

Enter a value: 12
Enter a name: rajesh
Entered number is: 12
Entered Name is: rajesh

In [3]:
print("Entered Number is: %d and Entered Name is: %s"%(n,m))

Entered Number is: 12 and Entered Name is: rajesh

In [4]:
print("Entered number is: {} and Entered name is: {} ".format(n,m))

Entered number is: 12 and Entered name is: rajesh

In [5]:
print("Entered number is: {0} and Entered name is: {1} ".format(n,m))

Entered number is: 12 and Entered name is: rajesh

In [7]:
print("Entered name is: {1} and Entered number is: {0} ".format(n,m))

Entered name is: rajesh and Entered number is: 12

## Operators:
     - Arithmetic -> +,-,*,/,%,floor(// -> Exact integer),exponential(** -> pow())
     - Logical -> And,Or,Not
     - Bitwise -> &&,||,>>,<<
     - Relational -> ==,!=,>=,<=,>,<
     - Assignment -> +=,-=,*=,/=,%=
     - Membership -> in,not in
     - Identity -> is,is not

In [8]:
a = 20
print(a>>2)

5

## Conditional Statements:
     - To check whether a given condition is either True or False
     - if,nested if,if-else,elif ladder

## if -> Single Case[T or F]
      syntax:
        if(condition):
        //stmt

In [9]:
n = int(input())
if n== 45:
    print("Enter Value is: {}".format(n))

45
Enter Value is: 45

## If-else -> Two Cases[T or F]
    syntax:
    if(condition-1):
       //true statement
    else:
        //false statement

In [10]:
k=int(input())
m=int(input())
if k==m:
    print("Entered values {} and {} are Equal".format(k,m))
else:
        print("Entered values {} is not equal to {}".format(k,m))

12
26
Entered values 12 is not equal to 26

## Nested if [if within an if] -> one or more cases
     syntax:
        if(condition-1):
          if(condition-2):
              //stmt-1
              
         if(condition-1):
           if(condition-2):
              //stmt-1
            else:
              //stmt-2
          else:
             //stmt-3

In [11]:
n = int(input())
if(n<=200):
    if(n==100):
        print("Entered value is equal to 100".format(n))
    else:
        print("Entered value is  not equal to 100 but it is lower than 100".format(n))
else:
    print("Entered value {} is greater than 200".format(n))

100
Entered value is equal to 100

## Elif -> Two or more cases
    syntax:
        if(condition-1):
            //stmt-1
         elif(condition-2):
             //stmt-2
          elif(condition-n):
              //stmt-n
              ||||||
           else:
              //stmt-(n+1)

In [14]:
h = int(input())
if h%4==0:
    print("Entered value {} is divisible by 4 ".format(h))
elif h%2==0 and h%4==0:
    print("Entered value {} is divisible by 2 and 4 ".format(h))
elif h%2==0:
    print("Entered value {} is divisible by 2 ".format(h))
else:
    print("Entered value {} is  not divisible by 2 ".format(h))

12
Entered value 12 is divisible by 4

# Control Statements,Iterations,Loops,Repitition
     - To control the flow of execution
     - For,while

## For -> For particular Range => [Know Ranges]
     syntax
         for iteration_variable in Iterator:
             //stmts
         for iteration_variable in range():
              //stmts

### Range
     range(n):
          -> By default it starts from o to n-1
          => range(5) = 0,1,2,3,4
     range(n,m):
           -> Starting range will starts from exactly at n and stops at m-1
           => range(4,8) => 4,5,6,7
      range(n,m,5):
            -> Start range will starts from exactly at n and stops at m-1 and stepping to 5
            =>range(4,10,2) => 4,6,8

In [17]:
n= int(input("Enter range value:"))
for i in range(n):
    print(i,end=",")

Enter range value:9
0,1,2,3,4,5,6,7,8,

In [20]:
n= int(input("Enter a staring range value:"))
m= int(input("Enter a ending range value:"))
for i in range(n,m):
    print(i,end=",")

Enter a staring range value:100
Enter a ending range value:120
100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,

In [21]:
n= int(input("Enter a staring range value:"))
m= int(input("Enter a ending range value:"))
s= int(input("Enter a stepping value:"))
for i in range(n,m,s):
    print(i,end=",")

Enter a staring range value:12
Enter a ending range value:20
Enter a stepping value:2
12,14,16,18,

In [25]:
n= int(input("Enter a staring range value:"))
m= int(input("Enter a ending range value:"))
s= int(input("Enter a stepping value:"))
for i in range(m,n,-s):
    print(i,end=",")

Enter a staring range value:2
Enter a ending range value:10
Enter a stepping value:2
10,8,6,4,