       Input:10
      Output:19kq1a0522
             ||||||||||
             19kq1a0522

In [5]:
n=int(input())
for i in range(n):
    print("19kq1a05{:02}".format(i))

11
19kq1a0500
19kq1a0501
19kq1a0502
19kq1a0503
19kq1a0504
19kq1a0505
19kq1a0506
19kq1a0507
19kq1a0508
19kq1a0509
19kq1a0510

In [12]:
n=int(input())
m=int(input())
s=int(input())
for i in range(n,m,s):
    print("19kq1a05{:02}".format(i))

1
10
2
19kq1a0501
19kq1a0503
19kq1a0505
19kq1a0507
19kq1a0509

In [13]:
n=int(input())
m=int(input())
s=int(input())
for i in range(n,m,s):
    print("19kq1a05{:02}".format(i))

1
10
2
19kq1a0501
19kq1a0503
19kq1a0505
19kq1a0507
19kq1a0509

## While-> Unknown ranges,Known ranges
    syntax:
      variable initialization
      while(condition):
      //stmt
      //incr/decr

In [14]:
n=int(input())
while n!=10:
    print(n,end=" ")
    n=n-1

20
20 19 18 17 16 15 14 13 12 11

In [1]:
m=int(input())
i=10
while m!=i:
    print(i,end=" ")
    i=i+1

20
10 11 12 13 14 15 16 17 18 19

In [2]:
n = 1259
Given number is:1259
reverse of a number is:9521
Given number is 1259 and its reverse is 9521

SyntaxError: invalid syntax (<ipython-input-2-badf80883713>, line 2)

In [5]:
n=int(input())
r=0
p=n
while n!=0:
    r=r*10+n%10
    n//=10
print("Given number is: {}\nRverse of a number is: {}\nGiven number is {} and its reverse is: {}".format(p,r,p,r))

1289
Given number is: 1289
Rverse of a number is: 9821
Given number is 1289 and its reverse is: 9821

## Jumping Statements:
      - break -> exit
      - continue ->skip
      - pass ->skip nothing will be printed
      - return -> values to be sent for functions

In [6]:
n=int(input())
for k in range(n+1):
    print(k,end=",")

10
0,1,2,3,4,5,6,7,8,9,10,

In [7]:
n=int(input())
for h in range(n):
    if h==5:
        break
    else:
        print(h,end=" ")
print("\n",h)

100
0 1 2 3 4
 5

In [8]:
n=int(input())
for h in range(n):
    if h==5:
        continue
    else:
        print(h,end=" ")
print("\n",h)

7
0 1 2 3 4 6
 6

In [10]:
n=int(input())
for i in range(n):
    if i==10:
        pass
    else:
        print(i,end=",")

20
0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,

In [12]:
for i in 'hello':
    if(i=='e'):
        continue
    print(i)

h
l
l
o

## Inner Loops:
    - loop within a loop
    syntax:
          for i in range():
              for j in range():
                if(condition-n):
                  //stmts
                 else:
                  //stmts
               print("\n

1 - 31
r - 5
c - 7

    step-1
          01 02 03 04 05 06 07
          08 09 10 11 12 13 14
          15 16 17 18 19 20 21
          22 23 24 25 26 27 28
          29 30 31

In [19]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [20]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%2==0:
                print("**",end=" ")
            else:   
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 ** 03 ** 05 ** 07
** 09 ** 11 ** 13 **
15 ** 17 ** 19 ** 21
** 23 ** 25 ** 27 **
29 ** 31

In [23]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            else:   
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 ** 03 ** ## ** 07
** 09 ## 11 ** 13 **
## ** 17 ** 19 ## 21
** 23 ** ## ** 27 **
29 ## 31

In [22]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%2!=0:
                print("**",end=" ")
            else:   
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

** 02 ** 04 ** 06 **
08 ** 10 ** 12 ** 14
** 16 ** 18 ** 20 **
22 ** 24 ** 26 ** 28
** 30 **

In [32]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if i ==2:
            print("&&",end=" ")
        elif j ==3:
            print("||",end=" ")
        elif a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            elif a%3==0:
                print("()",end=" ")  
            else:   
                print("[]",end=" ")
        else:
            break
        a+=1
    print(end="\n")

[] ** || ** ## ** []
&& && && && && && &&
## ** || ** [] ## ()
** [] || ## ** () **
[] ## ||