# MARKDOWN FORMAT

# Heading-1
## Heading-2
### Heading-3
#### Heading-4
##### Heading-5
###### Heading-6

## Python

## Python Installations,Execution ways,Jupyter Installation

## Variable:
     - To store a value
     - To access the value in different functions methods
     - To changes value

In [4]:
a = 10

In [5]:
a

10

In [6]:
b = 20

In [7]:
b

20

In [10]:
a = 200
b = 'rajesh'
a,b

(200, 'rajesh')

In [11]:
print(a,b)

200 rajesh

In [12]:
print(b,a)

rajesh 200

## Data Types
     - Int -> only numbers
     - Float -> decimal points
     - String -> either with ' or ''

In [13]:
'''
c = 23.000
t = 'Tarun'
'''

"\nc = 23.000\nt = 'Tarun'\n"

In [15]:
c,t = 23.000,'tarun'
print(c,t)

23.0 tarun

## Type:
     - To know the data type for that value
     - type(variablename,datastructure)

In [16]:
type(c)

float

In [17]:
g = '12.056'
g

'12.056'

In [18]:
print(g)

12.056

In [19]:
type(g)

str

In [20]:
print(type(g))

<class 'str'>

In [22]:
print(type(c))

<class 'float'>

In [23]:
print(type(a))

<class 'int'>

In [24]:
print(type(a),type(c),type(g))

<class 'int'> <class 'float'> <class 'str'>

In [25]:
a,c,g

(200, 23.0, '12.056')

In [26]:
type(c),type(a),type(g)

(float, int, str)

##  Input():
       - By default it will be considered as sting value
       - Print(),read()

In [1]:
a = input()
print(a,type(a))

89
89 <class 'str'>

In [4]:
t = input("Enter a value:")
print(t,type(t))

Enter a value:rajesh
rajesh <class 'str'>

## Type Casting
       - Converting one data to another data type
       - int(),str(),float()

In [5]:
p = int(input("Enter only integer values:"))
print(p,type(p))

Enter only integer values:67
67 <class 'int'>

In [6]:
m = float(input("Enter float values: "))
print(m,type(m))

Enter float values: 8.9
8.9 <class 'float'>

In [12]:
q = int(input("Enter integer value: "))
k = float(input("Enter float value: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is: ",int(k))
print("Both cases in string is:"+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

Enter integer value: 89
Enter float value: 9.0
Conversion of int value is:  89.0
Conversion of float value is:  9
Both cases in string is:'89''9.0'

##### Input:
    Enter integer value:48
    Enter float value:45.0218
    Conversion of int value is:48.0
    Conversion of float value is:45
    Both case in string is:'48' '45.0218'